.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ec8585;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header > a {
  display: flex;
  text-decoration: none;
  padding: 1em;
}

.header__logo {
    width: 150px;
    object-fit: contain;
    display: flex;
    /* margin: 0 20px;
    margin-top:0px; */
    height: 60px;
    color: white;
  }

  .header > a > h4 {
    color: white;
  }

  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #c2b5a4;
  }

  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    padding-right: 1em;
  }

  .header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }

  .header__nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
  
  }
  

  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }

  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__nav > a {
    text-decoration: none;
  }
  .header__Link {
    color: white;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px){

    .header{
      height: 60px;
      min-width: 240px;
      position: fixed;
    }
  }

  @media screen and (max-width: 480px) {
.header {
    position: absolute;
    width:100%;
    height:60px;
}
.header__option{
  position: absolute;
  width:100%;
  height:60px;
}
} 
