.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 28%;
    max-height: 400px;
    max-width: 400px;
    background-color: white;
    z-index: 1;
    
  }

  .product > img {
    max-height: 260px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }

  .product__rating {
    display: flex;
    font-size: 8px;
  }

  .product > button {
    background: #ec8585;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
  }

  .product__price {
    margin-top: 5px;
  }
  
  .product__info {
    height: 100px;
    margin-bottom: 15px;
  }

  .product__info__id {
    font-size: 8px;
  }

  .product__info__title{
    font-size: 14px;
    font-weight: 700;
  }

  @media only screen and (max-width: 768px){

    .product{
       width: 100%; 
       margin-left: auto;
       margin-right: auto;
    }
 
  }
  

 